 * {
     box-sizing: border-box;
 }
$body-background : #21212e;
$gradinet-btn : linear-gradient(113deg,#46c2ff 0%,#bd11fa 100%);
$clubin-blue : #46C2FF;

@mixin btn-style {
    background-image: $gradinet-btn;
    box-shadow: 0 0 40px #822eef;
    border-radius: 6px;
    border: none;
    padding: .75rem 1.85rem;
    color: white;
    font-size: 14px !important;
    font-family: Poppins,sans-serif ;
}