 * {
     box-sizing: border-box;
     
 }

 $body-background : #21212e;
 $gradinet-btn : linear-gradient(113deg, #46c2ff 0%, #bd11fa 100%);
 $clubin-blue : #46C2FF;

 @mixin btn-style {
     background-image: $gradinet-btn;
     box-shadow: 0 0 40px #822eef;
     border-radius: 6px;
     border: none;
     padding: .75rem 1.85rem;
     color: white;
     font-size: 14px !important;
     font-family: Poppins, sans-serif;
 }

 @mixin arrow-btn($color: $clubin-blue) {
     padding: 11px 20px;
     cursor: pointer;
     background-color: transparent;
     border: 1px solid $color;
     color: $color;
     border-radius: 6px;
     font-size: 1.2em;
 }

 @mixin title_with_underline_style($bg-color:#BD11FA,$width:185px) {
    position: relative;
    font-size: 1.1em;
    margin: 24px 0 28px;

    &::after {
        position: absolute;
        left: 0;
        bottom: -12px;
        content: '';
        width: $width;
        height: 1px;
        background-color:$bg-color;
    }
 }