@media screen and (min-width: 768px) and (max-width: 1024px),
(max-width: 1024px) {

    /*tablet responsive size*/
    .hamburger-btn {
        display: block;
    }

    .clubin-header {
        flex-wrap: wrap;
        background-color: #21212e;
        &__nav {
            flex-basis: 100%;
            order: 1;

            ul {
                flex-direction: column;
                transition: height .3s linear 0s;
                overflow: hidden;
                height: 0;
                li {
                    margin-left: 0px !important;
                    margin-top: 18px;
                }

                
                .nav-btn.inline {
                    margin-top: 8px;
                    display: inline-block;

                }
            }
           
        }
    }

}