@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import 'base';

body {
    background-color: $body-background !important;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.clubin-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .6rem .8rem;
    font-size: 16px;
    align-items: center;
    font-family: Poppins, sans-serif;

    .clubin-header__logo {
        width: 180px;
    }

    input {
        @include btn-style;
    }

    .clubin-header__nav {
        font-size: .8em;
        font-weight: 500;
        margin-top: 8px;

        a:hover {
            text-decoration: none;
        }

        .nav-anchors {
            font-size: 1em;
            color: #ffffff;
            position: relative;
            transition: all .13s .1s ease;

            &::after,
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                opacity: 0;
                height: 2px;
                transition: all .13s .1s ease;
            }

            &::after {
                content: '';
                width: 100%;
                background-color: $clubin-blue;
                margin-bottom: -4px;
            }

            &::before {
                width: 65%;
                background-color: #BD11FA;
                left: 0;
                margin-bottom: -9px;
                transform: translate(-100%);
            }

            &:hover {
                color: $clubin-blue;

                &::after {
                    opacity: 1;
                    transform: translate(-100%);
                }

                &::before {
                    opacity: 1;
                    transform: translate(0%);
                }
            }
        }

        a+a {
            margin-left: 27px;
        }

        .nav-btn {
            font-size: 1em !important;
            padding: .65rem 2.6rem;
            background-image: $gradinet-btn;
            border-radius: 6px;
            box-shadow: 0 0 40px #822eef;
            color: #ffffff;

            &.inline {
                box-shadow: none;
                background-image: none;
                background-color: transparent;
                border: 1px solid $clubin-blue;
                color: $clubin-blue;
            }
        }

    }
}

.landing-page {
    width: 100%;
    min-height: 90vh;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    &__img img {
        width: 28.120em;
        height: 28.120em;
        border-radius: 50%;
        object-fit: cover;
        // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2334ECECFF' stroke-width='25' stroke-dasharray='99%25 40%25 ' stroke-dashoffset='84' stroke-linecap='butt'/%3e%3c/svg%3e");

    }

    .landing-page__titles {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        font-size: 1em;
        font-family: Poppins, sans-serif;

        &>*+* {
            margin-top: 20px;
        }

        h6,
        button {
            font-size: .8em;
            color: #ffffff;
        }

        h6 {
            margin-bottom: -6px;
            margin-left: 5px;
        }

        h3 {
            font-size: 3.85em;
            color: $clubin-blue;
            font-weight: 500;
        }

        .landing-page-btn {
            @include btn-style;
            align-self: flex-start;
            padding: .75rem 2.15rem;
            font-weight: 300;
        }

    }

}


.background-svg {
    position: absolute;
    top: -100px;
    left: -16%;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;

    .inner-circle {
        stroke-dasharray: 12;
        stroke: #BD11FA
    }

    .middle-circle {
        stroke: $clubin-blue;
        opacity: .52;
    }

    .outer-circle {
        stroke: $clubin-blue;
        opacity: .1;
    }
}

.events-svg {
    top: 492px;
    left: -945px;
}

.events-container {
    margin-top: 40px;
}

main {
    position: relative;
    overflow: hidden;
}

.artist-svg {
    left: 32%;
    top: 935px;
}

.banner {
    border-radius: 7px;
    box-shadow: 0 0 40px #000000;
    background-image: url("../asset/man.png");
    background-size: cover;
    background-position-x: -160px;
    height: 550px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    overflow: hidden;

    .fa-icon {
        color: #BD11FA;
        font-size: 1.35em;
        margin: 0 4px;
    }

    &:hover {
        .banner__cover {
            top: 0;
            justify-content: space-evenly;
            align-content: center;
            justify-items: center;
            row-gap: 40px;
            // grid-template: repeat(auto-content) / repeat(4, 1fr) ;

            grid-template-areas:
                "i . . f"
                "h h h h"
                ". t t ."
                ". b b ."
                ". . . .";

            .banner__cover__detail {
                display: none;
            }

            .event-time {
                display: inline;
                grid-area: t;
            }

            .book-event-btn {
                display: block;
                grid-area: b;
            }
        }
    }

    &__cover {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        display: grid;
        grid-template: repeat(auto-content) / repeat(4, 1fr);
        grid-template-areas: "h h h i"
            "p p p p"
            "f f f f";

        background-color: rgba(#162640, .59);
        padding: .2rem 1rem .6rem 1.6rem;
        color: #fff;

        .header {
            grid-area: h;
            font-size: 2em;
            font-weight: 700;
        }

        .event-time,
        .book-event-btn {
            display: none;
        }

        .event-time {
            font-size: 1.5em;
            color: $clubin-blue;
        }

        .book-event-btn {
            padding: 25px 15px;
            border-radius: 6px;
            background-color: transparent;
            border: 1px solid #BD11FA;
            color: #BD11FA;
            font-size: 1em;
            font-weight: 300;

        }

        .icon-header {
            color: $clubin-blue;
            grid-area: i;
            align-self: center;
            justify-self: flex-end;
        }

        .icon-header,
        .fa-icon,
        .icon-footer {
            font-weight: 400;
        }

        .banner__cover__detail {
            font-weight: 300;
            font-size: 15px;
            line-height: 1.8;
            grid-area: p;
        }

        .icon-footer {
            color: $clubin-blue;
            grid-area: f;
            justify-self: end;

            .fa-icon {
                font-weight: 900;
            }
        }

    }
}

.calendar {
    display: flex;
    flex-flow: column nowrap;
    max-height: 550px;
    background-color: transparent;

    &__item {
        &+& {
            margin-top: 19px;
        }

        $vertical_padding : 4px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: #ffffff;
        font-family: 'Poppins',
        sans-serif;
        background-color: #20202c;
        box-shadow: 0 0 40px #000000;
        overflow: hidden;
        border-radius: 6px;
        padding:4px 0 4px 12px;
        cursor: pointer;
        height: 60px;

        .item__date {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            height: 100%;
            font-size: 1em;
            min-width: 135px;
            color: $clubin-blue;

            &__mounth {
                font-size: .8125em;
            }

            &__weekday {
                font-size: .75em;
                margin-top: -3px;
            }

            &__number {
                // margin-right: 18px;
                font-size: 2.37em;
                margin-right: 8px;
                color: #BD11FA;
            }
        }

        .item__title,
        .item__btn {
            font-size: .9375em;
            color: #ffffff;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            line-height: 1.33;
        }

        .item__btn {
            border-radius: 6px;
            border: none;
            cursor: pointer;
            height: calc(100% + #{$vertical_padding *2});
            background-color: #BD11FA;
            padding: 0 16px;

            &:focus {
                outline: none;
            }
        }

        .item__time {
            font-size: .75em;
            color: $clubin-blue;
        }
    }

    &__find-input {
        border: none;
        background-color: rgba($clubin-blue, .1);
        color: $clubin-blue;
        width: 155px;
        margin-bottom: 40px;
        padding: 10px 15px;

        &:focus {
            outline: none;
        }
    }

    &__arrows {
        margin-top: 25px;
        align-self: flex-end;

        .arrow {
            @include arrow-btn;

            &:last-child {
                margin-left: 4px;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.artist {
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;

    .artist-title {
        font-size: 30px;
        font-weight: bold;
        color: $clubin-blue;
        margin: 0 auto;
        width: fit-content;

    }

    .artist-controls-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        &:focus {
            outline: none;
        }

        .arrow {
            margin: 0 23px;
            @include arrow-btn;
        }

        button[data-controls="next"] {
            order: 1;
        }

        .artist-indicator-container {
            margin-bottom: 6px;

            button {
                border-radius: 50%;
                border: none;
                background-color: rgba($clubin-blue, .2);
                padding: 5px;
                margin: 0 5px;

                &:focus {
                    outline: none;
                }
            }

            .tns-nav-active {
                background-color: rgba($clubin-blue, 1);
                transform: scale(1.4);
            }
        }
    }

    .artist-item {
        // width sets in script tiny-slider to 325px
        height: fit-content;
        padding-bottom: 18px;
        margin: 38px 0 38px 38px;
        display: flex;
        color: #ffffff;
        flex-flow: column nowrap;
        background-color: #20202c;
        border-radius: 6px;
        font-size: 1em;
        cursor: pointer;
        box-shadow: 0 0 35px rgba($color: #000000, $alpha: .54);

        .header {
            width: 100%;
            color: $clubin-blue;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 24px;
            font-size: .9em;

            .fa-icon {
                color: #BD11FA;
                font-size: 1.35em;
                margin: 0 4px;
                vertical-align: text-bottom;
            }

            &__degree {
                font-weight: 300;
            }
        }

        .img-container {
            width: 100%;
            height: 100px;
            overflow: hidden;

            img {

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .artist-info {
            width: 100%;
            padding-left: 30px;

            &__name {
                @include title_with_underline_style;
            }

            &__biography {
                font-size: .9em;
                font-weight: 200;
                width: 95%;
                user-select: none;
            }
        }
    }

}

.subscribe {
    margin-top: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../asset/item-img2.png");
    background-size: cover;
    background-position: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0 90px;

    &__content {
        width: 100%;
        margin: 34px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        background-color: #262635;
        padding: 2.5rem;

        .information {
            width: 45%;

            h6 {
                font-weight: 300;
            }
        }

        .subscribe__form {
            width: 45%;
            display: flex;
            margin: 0 0 0 35px;

            *:focus {
                outline: none;
            }

            &__input {
                width: 75%;
                padding: .78rem;
                border-radius: 6px;
                border: 1px solid #fff;
                border-right: none;
                font-size: .85em;
            }

            &__button {
                @include btn-style;
                border: 1px solid #fff;
                box-shadow: none;
                border-left: none;
                font-size: .9em !important;
                margin-left: -14px;
            }
        }
    }
}

.about {
    width: 100%;
    padding: 50px 90px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, $clubin-blue 0%, #bd11fa 100%);

    &__texts {
        width: 73%;
        color: #283c5c;

        &__title {
            @include title_with_underline_style(#21212e, 275px); // line color and width
            font-size: 2em;
            font-weight: 700;
            position: relative;
        }

        &__paragraph {
            font-size: 1em;
            font-weight: 300;
        }

    }

    &__images {
        width: 27%;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        padding-top: 50px;

        .disc-back {
            width: 240px;
            height: 240px;
        }

        .disc-front {
            width: 280px;
            height: 280px;
            position: absolute;
            left: 0;
            top: -32px;
        }
    }

    &__footer {
        flex-basis: 100%;
        margin: 17px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;

        .about__logo {
            width: 180px;
        }

        .market-buttons {

            .appStore-button,
            .googlePlay-button {
                background-color: transparent;
                border: none;

                img {
                    width: 8em;
                }

            }

            .appStore-button {
                margin-right: 18px;
            }
        }

    }
}

.quatation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-image: url("../asset/quatation-background.png");
    background-size: cover;

    .content {
        width: 75%;
        padding: 12px;
        font-size: 16px;
        background-color: rgba($color: #162640, $alpha: .87);
        border-radius: 6px;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 2em .8em .3em .8em;
            color: $clubin-blue;

            &__left {
                flex-grow: 4;
            }

            h4 {
                font-size: 2em;
                flex-grow: 2.8;
                font-weight: 700;
            }

            &__arrows {
                flex-grow: 0;
                font-size: 16px;

                .arrow {
                    @include arrow-btn(#ffffff);

                }
            }
        }

        &__text {
            width: 100%;
            margin: 14px 0;
            padding: 6px 17px;
            color: #ffffff;
            font-size: .95em;
            white-space: pre-line;
            text-align: center;
        }

        &__button {
            margin: 4.8em auto .85em;
            @include btn-style;
        }

    }
}

.party {
    width: 100%;
    padding: 50px 90px;
    background-color: #21212e;
    font-size: 16px;

    &__header {
        padding: 23px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 1.7em;
            font-weight: bold;
            color: $clubin-blue;
        }

        .detail {
            font-size: .95em;
            color: white;
            margin: 0;
        }
    }

    .party-gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 80px;
        grid-auto-flow: dense;
        gap: 6px;

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .vertical-img {
            grid-column: span 2;
            grid-row: span 4;
        }

        .normal-img {
            grid-column: span 3;
            grid-row: span 3;
        }
    }
}