@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'base';

body {
    background-color: $body-background !important;
    position: relative;
}

.clubin-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .6rem .8rem;
    font-size: 16px;
    align-items: center;

    .clubin-header__logo {
        width: 180px;
    }

    .clubin-header__nav {
        font-size: .8em;
        font-weight: 500;
        margin-top: 8px;

        a:hover {
            text-decoration: none;
        }

        .nav-anchors {
            font-size: 1em;
            color: #ffffff;
            position: relative;
            transition: all .13s .1s ease;

            &::after,
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                opacity: 0;
                height: 2px;
                transition: all .13s .1s ease;
            }

            &::after {
                content: '';
                width: 100%;
                background-color: $clubin-blue;
                margin-bottom: -4px;
            }

            &::before {
                width: 65%;
                background-color: #BD11FA;
                left: 0;
                margin-bottom: -9px;
                transform: translate(-100%);
            }

            &:hover {
                color: $clubin-blue;

                &::after {
                    opacity: 1;
                    transform: translate(-100%);
                }

                &::before {
                    opacity: 1;
                    transform: translate(0%);
                }
            }
        }

        a+a {
            margin-left: 27px;
        }

        .nav-btn {
            font-size: 1em !important;
            padding: .65rem 2.6rem;
            background-image: $gradinet-btn;
            border-radius: 6px;
            box-shadow: 0 0 40px #822eef;
            color: #ffffff;

            &.inline {
                box-shadow: none;
                background-image: none;
                background-color: transparent;
                border: 1px solid $clubin-blue;
                color: $clubin-blue;
            }
        }

    }
}

.landing-page {
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &__img img {
        width: 450px;
        height: 450px;
        border-radius: 50%;
    }

    .landing-page__titles {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        & > * {
            margin: 20px 0;
        }
    }

}
svg {
    position: absolute;
    top: -95px;
    left: -165px;
    height: 110vh;

    .inner-circle {
        stroke-dasharray: 12;
        stroke: #BD11FA
    }
    .outer-circle {
        stroke: $clubin-blue;
        opacity: .52
    }
}
    
input {
    @include btn-style;
}