@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import 'base';

body {
    background-color: $body-background !important;
    position: relative;
}

.clubin-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .6rem .8rem;
    font-size: 16px;
    align-items: center;
    font-family: Poppins, sans-serif;

    .clubin-header__logo {
        width: 180px;
    }

    .clubin-header__nav {
        font-size: .8em;
        font-weight: 500;
        margin-top: 8px;

        a:hover {
            text-decoration: none;
        }

        .nav-anchors {
            font-size: 1em;
            color: #ffffff;
            position: relative;
            transition: all .13s .1s ease;

            &::after,
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                opacity: 0;
                height: 2px;
                transition: all .13s .1s ease;
            }

            &::after {
                content: '';
                width: 100%;
                background-color: $clubin-blue;
                margin-bottom: -4px;
            }

            &::before {
                width: 65%;
                background-color: #BD11FA;
                left: 0;
                margin-bottom: -9px;
                transform: translate(-100%);
            }

            &:hover {
                color: $clubin-blue;

                &::after {
                    opacity: 1;
                    transform: translate(-100%);
                }

                &::before {
                    opacity: 1;
                    transform: translate(0%);
                }
            }
        }

        a+a {
            margin-left: 27px;
        }

        .nav-btn {
            font-size: 1em !important;
            padding: .65rem 2.6rem;
            background-image: $gradinet-btn;
            border-radius: 6px;
            box-shadow: 0 0 40px #822eef;
            color: #ffffff;

            &.inline {
                box-shadow: none;
                background-image: none;
                background-color: transparent;
                border: 1px solid $clubin-blue;
                color: $clubin-blue;
            }
        }

    }
}

.landing-page {
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    &__img img {
        width: 28.120em;
        height: 28.120em;
        border-radius: 50%;
        // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2334ECECFF' stroke-width='25' stroke-dasharray='99%25 40%25 ' stroke-dashoffset='84' stroke-linecap='butt'/%3e%3c/svg%3e");

    }

    .landing-page__titles {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        font-size: 1em;
        font-family: Poppins, sans-serif;

        &>*+* {
            margin-top: 20px;
        }

        h6,
        button {
            font-size: .8em;
            color: #ffffff;
        }

        h6 {
            margin-bottom: -6px;
            margin-left: 5px;
        }

        h3 {
            font-size: 3.85em;
            color: $clubin-blue;
            font-weight: 500;
        }

        .landing-page-btn {
            @include btn-style;
            align-self: flex-start;
            font-weight: 300;
        }

    }

}

svg {
    position: absolute;
    top: -95px;
    left: -145px;
    height: 110vh;

    .inner-circle {
        stroke-dasharray: 12;
        stroke: #BD11FA
    }

    .outer-circle {
        stroke: $clubin-blue;
        opacity: .52;
    }
}

input {
    @include btn-style;
}

.banner {
    border-radius: 7px;
    box-shadow: 0 0 40px #000000;
    background-image: url("../asset/man.png");
    background-size: cover;
    background-position-x: -160px;
    height: 550px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    cursor: pointer;

    .fa-icon {
        color: #BD11FA;
        font-size: 1.2em;
        margin: 0 4px;
    }

    &:hover {
        .banner__cover {
            top: 0;
            justify-content: space-evenly;
            align-content: center;
            justify-items: center;
            row-gap: 40px;
            // grid-template: repeat(auto-content) / repeat(4, 1fr) ;

            grid-template-areas:
                "i . . f"
                "h h h h"
                ". t t ."
                ". b b ."
                ". . . .";
            
            .banner__cover__detail {
                display: none;
            }
            .event-time {
                display: inline;
                grid-area: t;
            }
            .book-event-btn {
                display: block;
                grid-area: b;
            }
        }
    }

    &__cover {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        display: grid;
        grid-template: repeat(auto-content) / repeat(4, 1fr) ;
        grid-template-areas: "h h . i"
                            "p p p p"
                            ". . . f";
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        background-color: rgba(#162640, .59);
        padding: .2rem 1rem .6rem 1.6rem;
        color: #fff;

        .header {
            grid-area: h;
            font-size: 2em;
            font-weight: 700;
        }
        .event-time,
        .book-event-btn {
            display: none;
        }
        .event-time {
            font-size: 1.5em;
            color: $clubin-blue;
        }
        .book-event-btn {
            padding: 25px 15px;
            border-radius: 6px;
            background-color: transparent;
            border: 1px solid #BD11FA;
            color: #BD11FA;
            font-size: 1em;
            font-weight: 300;
            
        }
        .icon-header {
            color: $clubin-blue;
            grid-area: i;
            align-self: center;
            justify-self: flex-end;
        }

        .icon-header,
        .fa-icon ,
        .icon-footer{
            font-weight: 300;
        }

        .banner__cover__detail {
            font-weight: 300;
            font-size: 15px;
            line-height: 1.8;
            grid-area: p;
        }

        .icon-footer {
            color: $clubin-blue;
            grid-area: f;
            .fa-icon {
                font-weight: 900;
            }
        }

    }
}